h1, h2, h3, h4, h5, h6{
    font-family: 'Vampiro One', cursive;
}
body{
    font-family: 'Lato', sans-serif;
}
body, ul{
    margin:0;
    padding: 0;}

/* HEADER */

.header{
    background-color:#f3d55c;
    padding-top:5px;
}
.header-top{
    text-align:right;
}
header ul li{
    display: inline-block;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    color: white;
}
.header-top ul .homepage{
    font-family: 'Vampiro One', cursive;
    font-size:20px;

}
.header-top ul .homepage span{
    color:black;
}
.homepage-logo-header{
    font-size: 100px;
    text-align: center;
}
span{
    color: white;
}
/* NAVIGATION */
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 30px;
    text-align: center;
    font-family: 'Vampiro One', cursive;
    color:white;
    font-size: 20px;
}
.hover:hover{
    color:black;
}

/* CONTENT */

.content{
    padding: 50px;
}

/* FOOTER */

body, p{
    margin:0;
    padding: 0;
}
footer{
    padding:50px;
    background-color: #f3d55c;
    color: white;
}
.footer-1 ul li, .footer-2 ul li{
    display: inline-block;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    padding-bottom: 20px;
    color: white;
    font-weight: 600;
}

.footer-1 ul .heading, .footer-2 ul .heading{
    font-family: 'Vampiro One', cursive;
    color:black;
    font-size:16px;
}
a { color: inherit; /* removes the default colour blue in links */
    text-decoration: none; /* removes the default underline in links */
}

.button:hover{
    color:#f3d55c;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}


.footer-3{
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-size: 10px;
} 

