h1, h2, h3, h4, h5, h6{
    font-family: 'Vampiro One', cursive;
}
body{
    font-family: 'Lato', sans-serif;
    background-color:#f3d55c;
}
body, ul{
    margin:0;
    padding: 0;}

/* HEADER */

.header{
    background-color:#f3d55c;
    padding-top:5px;
}

.header{
    background-image: url(../assets/spoon-n-fork.png);
    background-repeat: no-repeat;
    background-position-x: 56.5%;
    background-size: 300px 300px;
}
/* LOG IN, SIGN UP & SHOPPING NAVIGATION */
.header-top{
    text-align: right;
}
header ul li{
    display: inline-block;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    color: white;
}
.header-top ul .homepage{
    font-family: 'Vampiro One', cursive;
    font-size:20px;
}
.header-top ul .homepage span{
    color:black;
}
/* LOG IN  & SIGN UP*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
  }

a:hover {
    color:white;
}

.form {
    background:#fcde69;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px hsla(#cea500);
  }

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
.tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color:white;
    color: #f3d55c;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
.tab-group li a:hover {
    background: black;
    color: #f3d55c;
  }
.tab-group .active a {
    background: black;
    color: #ffffff;
  }
.tab-content > div:last-child {
    display: none;
  }

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
label .req {
    margin: 2px;
    color: #f3d55c;
  }
label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
label.active .req {
    opacity: 0;
  }
label.highlight {
    color: #ffffff;
  }

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
  }

input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
  }
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

.top-row:after {
    content: "";
    display: table;
    clear: both;
  }
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
.top-row > div:last-child {
    margin: 0;
  }

button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
/* PICTURE HEADER */
.homepage-logo-header{
    font-size: 100px;
    text-align: center;
}
.homepage-logo-tagline{
    font-size: 20px;
    text-align: center;
    letter-spacing: 13px;
    text-transform: uppercase;
}

span{
    color: white;
}
/* NAVIGATION */
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 30px;
    text-align: center;
    font-family: 'Vampiro One', cursive;
    color:white;
    font-size: 20px;
}
.hover:hover{
    color:black;
}

/* CONTENT */
figcaption{
    font-size: 10px;
    margin:10px;
}
.right-alignment{
    text-align: right;
}
p {
    font-size: 15px;
    line-height: 150%;
}
img{
    max-width:100%;}
.content{
    padding: 50px;
}
/* FOOD */


/* FOOTER */

body, p{
    margin:0;
    padding: 0;
}
footer{
    padding:50px;
    background-color: #f3d55c;
    color: white;
}
.footer-1 ul li, .footer-2 ul li{
    display: inline-block;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    padding-bottom: 20px;
    color: white;
    font-weight: 600;
}

.footer-1 ul .heading, .footer-2 ul .heading{
    font-family: 'Vampiro One', cursive;
    color:black;
    font-size:16px;
}
a { color: inherit; /* removes the default colour blue in links */
    text-decoration: none; /* removes the default underline in links */
}

.button:hover{
    color:#f3d55c;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
}


.footer-3{
    text-align: center;
    text-transform: uppercase;
    color:black;
    font-size: 10px;
} 

